.place__image {
    width: 460px;
    margin: 0 40px 0 0;
}

@media screen and (max-width: 1024px) {
    .place__imageh {
        max-width: 440px;
        height: 440px;
        margin-right: 32px;
    }

}
@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        height: 340px;
        margin-right: 28px;
    }

}
@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
        height: 320px;
        margin-bottom: 32px;
    }

}