@font-face {
	font-family: 'Inter'; 
	src: url(../Inter-3.19.zip); 
}
.page{
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #2A2C2F;
}
.header{
    position: relative;
    width:1184px;
    height: 52px; 
    margin:0 48px 0 48px;
}
.header__logo{
    position: absolute;
width: 176px;
height: 52px;
left:0px;
top: 0px;

}
.lang__link{
    position: absolute;
margin:18px 0 6px 0;
color:#FFFFFF ;

}
.lang__link_ru{
right: 47px;
}
.lang__link_en{
right:0;

}

.lead{
width: 984px;
height: 1005px;
/* display: flex; */
margin:56px auto 92px auto;
}
.lead__title{
    width: 720px;
    height: 200px;
    margin: 0 auto 32px auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    
    text-align: center;
    
    color: #FFFFFF;
    
}
.lead__subtitle{
    width: 640px;
    height: 72px;
    margin: 0 auto 64px auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    
    text-align: center;
    
    color: #FFFFFF;
}
.lead__image{
    width: 984px;
    height: 615px;
    margin: 0 auto 8px auto;
    
}
.lead__caption{
    width: 158px;
    height: 14px;
    display: flex;
    align-items: flex-start;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.intro{
    width: 690px;
    height: 429px;
    margin: auto 442px auto 148px;
}
.intro__title{
margin: 0 0 40px 0;
width: 690px;
height: 58px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
/* identical to box height, or 107% */


color: #FFFFFF;
}
.intro__text{
margin: 0 0 33px 0;
width: 690px;
height: 208px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
/* or 26px */


color: #FFFFFF;

}
.intro__list{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    
    color: #FFFFFF;

}
.photo-grid{
margin: 92px 48px 92px 48px;
display: grid;
grid-template-columns: repeat(4, 284px);
grid-template-rows: repeat(3, 213px);
gap: 16px;
justify-content: center;
}
.photo-grid__item{
    width: 284px;
    height: 213px;
}
.places{
margin: 98px 148px;
}

.place{
    margin: 0 0 80px 0;
}
.place__title{

width: 460px;
margin: 0 40px 48px 0;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */


color: #FFFFFF;
}
.place__image{
    
    width: 460px;
    margin: 0 40px 0 0;
}
.place__website{
    
    width: 456px;
    height: 46px;
    margin: 0 176px 48px 0;

}
.place__website__url-heading{
    margin: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

letter-spacing: 2px;

color: #AAAAAA;

}
.place__website__link{
    margin: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

text-decoration-line: underline;

color: #FFFFFF;

}
.place__pharagraph{
    
    width: 484px;
    margin: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
/* or 29px */


color: #FFFFFF;

}
.box{
display: flex;
margin: 0;

}
.box2{
display: flex;
margin: 0;

}
.box3{
    margin: 0;
}
.cover{
    display: flex;
    justify-content: center;
    width: 1184px;
height: 740px;
margin: auto;
}
.cover__background{
background-image: url(../images/__background.png);
background-repeat: no-repeat;
background-position: 100%;
width: 1184px;
height: 740px;
transition: 2s ease-in-out;

}
.cover__background:hover{
    opacity: 0.8;
}
.cover__overlay{
}
.cover__title{
width: 560px;
height:162px;
margin: 245px 312px 0;
text-align: center;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */

text-align: center;

color: #FFFFFF;
}
.cover__subtitle{
width:360px;
height:66px;
text-align: center;
margin: 32px auto 245px auto;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: center;

color: #FFFFFF;

}
.footer{
width: 1184px;
height: 18px;
margin: 92px auto 0 auto;
padding: 0 0 24px 0;
display: flex;
justify-content: center;
align-items: center;
gap: 18px;
}
.footer__link{
margin: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */


color: #FFFFFF;
}
.footer__copyright{
margin: 0 0 0 533px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: right;

color: #FFFFFF;
}