.place__box-image {
    display: flex;
    margin: 0;
}

@media screen and (max-width: 560px) {
    .place__box-image {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .place__box-image {
        flex-direction: column;
    }
}