.footer__link-element {
    margin: 0 0 0 0;
    font-family: 'Inter', "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s ease-in-out;
}

.footer__link-element:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .footer__link-element {
        font-size: 24px;
        line-height: 24px;
    }
}