@media screen and (max-width: 1024px){
.page{
    width: 1024px;
    }
.lead__image{
    width: 928px;   
    height: 580px;
}
.place__image{
    width: 440px;
    height: 440px;
}
.cover__background{
    width: 100%;
    height: 640px;
}

}
@media all and (max-width: 768px){
    .page{
        width: 768px;
        }
    .lead__image{
        width: 100%;
        height: 480px;  
    }
    .place__image{
        width: 340px;
        height: 340px;
    }
    .cover__background{
        width: 100%;
        height: 768px;
    }
    
}
@media all and (max-width: 320px){
    .page{
        width: 320px;
        }
    .lead__image{
        width: 100%; 
        height: 320px;  
    }
    .place__image{
        width: 100%;
        height: 320px;
    }
    .cover__background{
        width: 100%;
        height: 320px;
    }
    
}