.place__onemorebox{
    width: 456px;
    margin: 0;
    max-height: 46px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .place__onemorebox {

    }

}

@media screen and (max-width: 768px) {
    .place__onemorebox {
        width: 352px;
    }

}

@media screen and (max-width: 320px) {
    .place__onemorebox {
        width: 288px;
    }

}
