.place__website {
    display: flex;
    margin: 0 0 48px 0;
    flex-direction: column;
    max-width: 456px;
    max-height: 46px;
    margin-top: auto;
}

@media screen and (max-width: 1024px) {
    .place__website {}
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        margin-left: 16px;
        max-width: 288px;
    }
}